<%= form_for(@voluntario_habilidad) do |f| %>
  <% if @voluntario_habilidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voluntario_habilidad.errors.count, "error") %> prohibited this voluntario_habilidad from being saved:</h2>

      <ul>
      <% @voluntario_habilidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
