<h1>Listing voluntario_habilidads</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voluntario_habilidads.each do |voluntario_habilidad| %>
      <tr>
        <td><%= link_to 'Show', voluntario_habilidad %></td>
        <td><%= link_to 'Edit', edit_voluntario_habilidad_path(voluntario_habilidad) %></td>
        <td><%= link_to 'Destroy', voluntario_habilidad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voluntario habilidad', new_voluntario_habilidad_path %>
