<h1>Listing voluntario_recursos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voluntario_recursos.each do |voluntario_recurso| %>
      <tr>
        <td><%= link_to 'Show', voluntario_recurso %></td>
        <td><%= link_to 'Edit', edit_voluntario_recurso_path(voluntario_recurso) %></td>
        <td><%= link_to 'Destroy', voluntario_recurso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voluntario recurso', new_voluntario_recurso_path %>
