<%= form_for(@transporte) do |f| %>
  <% if @transporte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transporte.errors.count, "error") %> prohibited this transporte from being saved:</h2>

      <ul>
      <% @transporte.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
